<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登录</title> 
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> 
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('img/main.jpg');">
<div style="font-family:宋体;font-weight:bold;font-size:49px;text-align: center;background-color: rgba(228,228,228,0.1);border-radius: 10px">软件责任有限公司</div>
<div class="nav-divider">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">公司背景</a></li>
    <li><a href="#">未来展望</a></li>
    <li><a href="#">人力资源</a></li>
    <li><a href="">关于</a></li>
    <span style="float: right"><a href="login1.html">登录</a>| <a href="register.html">注册</a></span>
  </ol>
</div>
<div style="width:auto;height: 600px">
  <table>
    <tr>
      <td><img src='img/xiezilou.jpg' alt="写字楼" style="margin: 40px 50px;width: 600px;height: auto;"></td>
      <td><p style="tab-size: 30px;letter-spacing: 2px;text-shadow: 1px 1px blue;text-indent: 2em;margin-right: 200px;">星跃软件责任有限公司于2020年5月份成立于哈尔滨市，投资金额超1000万元。总部位于东北林业大学教务处，公司占地23平方公里，员工数有10000人。其拥有若干部门，发展潜力极大!<br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;今年来，星跃致力于把基于先进信息技术（包括通信技术）的最佳管理与业务实践普及到客户的管理与业务创新活动中，全面提供具有自主知识产权的企业管理/ERP软件、服务与解决方案，是中国最大的管理软件、ERP软件、集团管理软件、人力资源管理软件、客户关系管理软件及小型企业管理软件提供商。</p></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<nav class="navbar navbar-default">
  <div style="text-align:center"> 版权所有 </div>
</nav>
</body>
</html>
